.group__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.group__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--back-color);

}